modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_WHATSAPP_NUMBER = "916396094707"
WHATSAPP_PHONE_NUMBER_ID = "1041013432434876"
WHATSAPP_ACCESS_TOKEN = "EAASGATjkPkcBReyZA6aHtCN6rhMUYVopUZC6qqKoWzYf65CdjQyZBhcSFIndFFvj1NPxhSbHMYT70Witn5VvCX2AFzAkweE86d5HGJS6pqVXaUdZAlSsg7XPoYYgKMpuc1AD9aj9mSt1oHyz1ZBjwR8gG60yxhFzuYR2dogvmVZBXJb1vJSmzH5BRI2ZCcUCGKc0fO11mVsI7giPSRpY9voGvWtCCE44ZB7sfox4zJFufqBF9czZBLk2PNYghN1YcY0fzEJaKl5cRlPjpPBYPZA0upSvqqYZBN7ld42B2OaXQZDZD"
WHATSAPP_RECIPIENT_NUMBER = "916396094707"
ADMIN_PASSWORD = "TechVyro@3829"
NEXT_PUBLIC_SITE_URL = ""
